<form name="form.warehouseForm" class="form-horizontal" novalidate>
	<div class="form-group" show-errors="{ showSuccess: true }">
    	<div class="col-sm-12">
    		<div class="input-group">
	         	<span class="input-group-addon"><i class="fa fa-home input-control-icon"></i></span>
	         	<input type="text" class="form-control" id="name" name="name" placeholder="Warehouse Name" 
	         		title="Warehouse Name" ng-model="warehouse.name" autofocus required>
	         	<span class="input-group-addon"><i class="fa fa-asterisk required-icon"></i></span>
	      	</div>
	      	<span ng-show="form.warehouseForm.name.$touched && form.warehouseForm.name.$invalid" class="error-msg">Required field</span>
    	</div>
  	</div>
  	<div class="form-group">
    	<div class="col-sm-12">
    		<div class="input-group">
	         	<span class="input-group-addon"><i class="fa fa-comments input-control-icon"></i></span>
	         	<textarea class="form-control" placeholder="Description" title="Description" rows="5" maxlength="1000" ng-model="warehouse.description"></textarea>	         	
	      	</div>
    	</div>
  	</div>  
  	<div class="form-group">
    	<div class="col-sm-12">
    		<div class="input-group">
	         	<span class="input-group-addon"><i class="fa fa-map-marker input-control-icon"></i></span>
	         	<textarea class="form-control" placeholder="Address" title="Warehouse Address" rows="5" maxlength="1000" ng-model="warehouse.address"></textarea>	         	
	      	</div>
    	</div>
  	</div>  	
</form>

<script type="text/javascript"  src="/js/default/init-form-controls.js"></script>	
