<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header content-title"><i class="fa fa-group fa-fw"></i> Workers</h1>
    </div>
</div>
<div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-default" style="background-color:#eff0f1;">
	        <div class="panel-body">
	        	<div class="col-lg-10 search-control-wrapper">
	        		<div class="input-group custom-search-form search-box">
	                	<input type="text" id="searchInput" class="form-control" placeholder="Search..."/>
	                   	<span class="input-group-btn">
		                   	<button id="clearSearchBtn" class="btn btn-default" type="button" title="clear">
		                    	<i class="fa fa-times"></i>
		                   	</button>
	               		</span>
	               </div>
	        	</div>
	        	<div class="col-lg-2 add-control-column" ng-controller="NewWorkerRecordCtrl">
	        		<button type="button" class="btn btn-primary" title="New" ng-click="newRecord();"> 
	                	<i class="fa fa-plus"></i> Create new Worker
	               	</button>
	        	</div>	        	
	        </div>
	    </div>
	</div>    
</div> 
<div class="row">
	<div class="col-lg-12" ng-controller="WorkerController">
		<table id="workerTable" datatable="ng" width="100%" class="table table-striped table-bordered table-hover">
			 <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Landline</th>
                    <th>Address</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
			</thead>
	        <tbody>          
	           <tr ng-repeat="worker in workers">
	               <td>{{ worker.name }}</td>
	               <td>{{ worker.emal }}</td>
	               <td>{{ worker.phoneMobile }}</td>
	               <td>{{ worker.landLine }}</td>
	               <td>{{ worker.address }}</td>
	               <td>{{ worker.dateCreated | date : 'fullDate' }}</td>
	               <td>
		               <button type="button" class="btn btn-default btn-sm custom-button-default" title="Edit" ng-click="showRecord(worker)"> 
		                	<i class="fa fa-pencil"></i>
		               </button>		                                	                   	
		               <button type="button" class="btn btn-default btn-sm" title="Delete" ng-click="delete($index);"> 
		                	<i class="fa fa-times delete-color"></i>
		               </button>
	               </td>
	           </tr>                
	       </tbody>			       
        </table>
	</div>
</div>	

<script type="text/javascript"  src="/js/default/worker.js"></script>	
